<!-- NAVBAR -->
<div class="row">
  <div class="col-md-7">
    <nav class="navbar navbar-expand-lg navbar-transparent ">

      <a [routerLink]="'/home'" class="titulo"><strong>
          <img src="/assets/images/logonew.png" id="logo">
        </strong></a>
      <a class="navbar-brand" href="#"></a>

    </nav>
  </div>
</div>

<!-- BARRA COLORIDA -->

<div class="row">
  <div class="col-md-12">
    <img src="../../assets/images/barracolorP.png" height="3" width="1300" id="barracolor">
  </div>
</div>

<!-- TITULO -->

<div class="row" id="titulo">
  <div class="col-md-12">
    <h3 class="lead display-4 mb-4">Bem-Vindes ao seu informativo diario!</h3>
  </div>
</div>


<!-- CARDS COM NOTICIAS -->


<div class="container-fluid">

  <div class="row d-flex justify-content-around">
    <div class="col-md-3 card teste">
      <img class="card-img-top" src="../../assets/images/noticia1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Afinal, os surdos são mudos?</h5>
        <p class="card-text">Diferente do que se ouve por aí, não devemos utilizar o termo surdomudo,
          nem apenas mudo ou mudinho.
        </p>
        <a
          href=" https://www.defensoria.sp.def.br/dpesp/repositorio/40/guia%20sobre%20os%20direitos%20das%20pessoas%20com%20defici%c3%aancia.pdf   ">Saiba
          mais...</a>
      </div>
    </div>

    <div class="col-md-3 card teste">
      <img class="card-img-top" src="../../assets/images/noticia2.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Autismo é deficiência?</h5>
        <p class="card-text">A Convenção Internacional sobre os Direitos das Pessoas com Deficiência já
          permitia
          reconhecer a pessoa com Transtorno do Espectro do Autismo como Pessoa com Deficiência e conferir a
          ela os
          mesmos direitos.
        </p>
        <a href=" https://www.defensoria.sp.def.br/dpesp/repositorio/40/guia%20sobre%20os%20direitos%20das%20pessoas%20com%20defici%c3%aancia.pdf   " id="href">Saiba mais...</a>
      </div>
    </div>

    <div class="col-md-3 card teste">
      <img class="card-img-top" src="../../assets/images/noticia3.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Mobilidade</h5>
        <p class="card-text">Uma das leis mais importantes para o cego e que ainda
          carece de divulgação é a Lei 11.126, de 27 de junho de 2005, que lhe
          assegura o direito a entrar e permanecer com cão-guia em locais de
          uso coletivo.
        </p>
        <a
          href=" https://www.defensoria.sp.def.br/dpesp/repositorio/40/guia%20sobre%20os%20direitos%20das%20pessoas%20com%20defici%c3%aancia.pdf   ">Saiba
          mais...</a>
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-around">
      <div class="col-md-3 card teste">
        <img class="card-img-top" src="../../assets/images/noticia4.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Seguridade Social</h5>
          <p class="card-text">O BPC – Benefício de Prestação Continuada: é a garantia de um salário mínimo
              por
              mês
              à pessoa com deficiência, de qualquer idade, com incapacidade para a vida independente
              e para o trabalho.
          </p>
          <a
            href=" https://www.defensoria.sp.def.br/dpesp/repositorio/40/guia%20sobre%20os%20direitos%20das%20pessoas%20com%20defici%c3%aancia.pdf   ">Saiba
            mais...</a>
        </div>
      </div>
  
      <div class="col-md-3 card teste">
        <img class="card-img-top" src="../../assets/images/noticia5.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Direito ao Trabalho</h5>
          <p class="card-text">A pessoa com deficiência pode trabalhar, sem qualquer distinção, desde que
              tenha habilidade e qualificação profissional exigida para a função a ser exercida.
          </p>
          <a
            href=" https://www.defensoria.sp.def.br/dpesp/repositorio/40/guia%20sobre%20os%20direitos%20das%20pessoas%20com%20defici%c3%aancia.pdf   ">Saiba
            mais...</a>
        </div>
      </div>
  
      <div class="col-md-3 card teste">
        <img class="card-img-top" src="../../assets/images/noticia6.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Como lidar com pessoas com deficiência?</h5>
          <p class="card-text">Bom senso e naturalidade são essenciais no relacionamento com as pessoas com
              deficiência.
              Trate-as conforme sua idade; se for criança, trate-a como uma criança; se for adulto trate-a como um
              adulto.
          </p>
          <a
            href=" https://www.defensoria.sp.def.br/dpesp/repositorio/40/guia%20sobre%20os%20direitos%20das%20pessoas%20com%20defici%c3%aancia.pdf   ">Saiba
            mais...</a>
        </div>
      </div>
    </div>
</div>




<!-- BOTÃO RETORNAR AO FEED -->

<div class="row" id="botaoretornar">
  <button type="button" class="btn btn" id="retornarfeed" [routerLink]="'/feed'">Retornar ao Feed</button>
</div>

<!-- FOOTER -->

<hr>

<div class="row">
  <div class="col-md-12 d-flex justify-content-center">
      <strong>ClickIn®</strong>2020
  </div>
</div>
<div class="row">
  <div class="col-md-12 d-flex justify-content-center mb-3">
      <a class="nav-link mr-1 m-0 p-0" [routerLink]="'/contato'">Contato</a><strong>|</strong>
      <a class="nav-link ml-1 m-0 p-0" [routerLink]="'/faq'">Ajuda</a>
  </div>
</div>
