<!-- NAVBAR -->

<div class="col-md-7">
    <nav class="navbar navbar-expand-lg navbar-transparent ">

        <a [routerLink]="'/home'" class="titulo"><strong>
                <img src="/assets/images/logonew.png" id="logo">
            </strong></a>
        <a class="navbar-brand" href="#"></a>

    </nav>
</div>

<div class="row">
    <div class="col-md-12">
        <img src="../../assets/images/barracolorP.png" height="3" width="1300" id="barracolor">
    </div>
</div>


<div class="row capa" style="justify-content: center;">
    <img id="capa" src="../../assets/images/capaperfil.jpg" alt="">
    <div>
        <img id="perfil" src="../../assets/images/perfiluser.png" style="position:absolute; top:50px; left:50px"
            alt="" class="rounded-circle">
        <h2 style="position:absolute; top:350px; left:310px">
        </h2>
    </div>
</div>

<!-- CARD PERFIL -->

<div class="container-fluid gedf-wrapper">
    <div class="row">
        <div class="col-md-3" id="cardPerfil">
            <h2>
                <div class="h5 mt-2" id="nomeUser">{{ usuario.nomeFantasia }}</div>
            </h2>  

            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center h6 text-muted">
                    <a class="nav-link" [routerLink]="'/feed'">Feed</a>
                    <span class="badge badge badge-pill"></span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center h6 text-muted">
                    <a class="nav-link" [routerLink]="'/noticias'">Noticias</a>
                    <span class="badge badge badge-pill" id="badge">6</span>
                </li>                    
                <li class="list-group-item d-flex justify-content-between align-items-center h6 text-muted">
                    <a class="nav-link" (click)="logout();" id="btnsair"> Sair </a>
                    <span class="badge badge badge-pill"></span>
                </li>
            </ul>

        </div>

        <div class="col-md-8">
                <div class="container emp-profile">
                    <form method="post">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="profile-head">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home"
                                                role="tab" aria-controls="home" aria-selected="true">Sobre</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#acad" role="tab"
                                                aria-controls="profile" aria-selected="false">Contato</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#prof" role="tab"
                                                aria-controls="profile" aria-selected="false">Vagas</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Editar Perfil"
                                    [routerLink]="'/pessoajuridica'" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="tab-content profile-tab" id="myTabContent">
                                    <div class="tab-pane fade show active" id="home" role="tabpanel"
                                        aria-labelledby="home-tab">
    
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Nome Fantasia</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{usuario.nomeFantasia}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Razão Social</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{usuario.razaoSocial}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>CNPJ</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{usuario.cnpj}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Informações da Empresa</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{infousuario.infoEmpresa}}</p>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="tab-pane fade" id="acad" role="tabpanel" aria-labelledby="profile-tab">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>E-mail</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>{{usuario.email}}</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>Telefone</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>{{usuario.telefone}}</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                        <div class="col-md-6">
                                                            <label>Endereço</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <p>{{infousuario.endereco}}</p>
                                                        </div>
                                                    </div>
                                    </div>
    
                                    <div class="tab-pane fade" id="prof" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Vagas</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{infousuario.infoVagas}}</p>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
          </div>  


<!-- FOOTER -->

<hr>

<div class="row">
  <div class="col-md-12 d-flex justify-content-center">
      <strong>ClickIn&reg;</strong>2020
  </div>
</div>
<div class="row">
  <div class="col-md-12 d-flex justify-content-center mb-3">
      <a class="nav-link mr-1 m-0 p-0" [routerLink]="'/contato'">Contato</a><strong>|</strong>
      <a class="nav-link ml-1 m-0 p-0" [routerLink]="'/faq'">Ajuda</a>
  </div>
</div>
